/* h1 {	   font-size:42px;font-family:"Old English Text MT", Verdana, serif;

} 
.header  {
  overflow:auto;
  margin: 0 auto;
  width: 200px; }

  .header h1 {
    float:left;
  }
  .header img {
    float:left;
  }
     */